body{
    background-color: aquamarine;
    background-image: url("../img/luvca.jfif");
    background-size: cover;
    color: white;
}

.pollo baila{
    width: 200px;
}

.inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    